<%- include('header', {title: `Edit Bird Watching Note`}); -%> <%-
include('navbar'); -%>

<body>
  <div class="container-lg text-center" id="header">
    <h2>Edit Bird Watching Note ID: <%= data.id %></h2>
  </div>
  <div class="container-lg text-left">
    <form
      class="needs-validation"
      action="/note/<%= data.id %>/?_method=PUT"
      method="POST"
    >
      <div class="form-group">
        <label for="observation_date" class="form-label">Observation Date</label
        ><br />
        <input
          type="date"
          id="observation_date"
          name="observation_date"
          class="form-control"
          value="<%= data.observation_date %>"
          required
        />
      </div>
      <div class="form-group">
        <label for="behaviour" class="form-label">Behaviour</label><br />
        <textarea
          type="text"
          class="form-control"
          id="behaviour"
          name="behaviour"
          required
        >
<%= data.behaviour %></textarea
        >
      </div>
      <div class="form-group">
        <label for="flock_size" class="form-label">Flock Size</label><br />
        <input
          type="number"
          class="form-control"
          id="flock_size"
          name="flock_size"
          value="<%= data.flock_size %>"
          required
        />
      </div>
      <input type="submit" value="Submit" />
    </form>
  </div>
</body>
<%- include('footer'); -%>
