<%- include('header', {title: `Create Bird Watching Note`}); -%> <%-
include('navbar'); -%>

<body>
  <div class="container-lg text-center" id="main-header">
    <div class="row">
      <div class="col-12">
        <h2>List of Bird Watching Notes</h2>
      </div>
    </div>
  </div>

  <div class="container-lg text-center" id="main-body">
    <table class="table">
      <thread>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Observation Date</th>
          <th scope="col">Behaviour</th>
          <th scope="col">Flock Size</th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thread>
      <tbody>
        <% for (let i = 0; i < data.length; i += 1) { %>
        <tr>
          <th scope="row"><%= data[i].id %></th>
          <td><%= data[i].observation_date %></td>
          <td><%= data[i].behaviour %></td>
          <td><%= data[i].flock_size %></td>
          <td>
            <a
              class="btn btn-primary"
              href="/note/<%= data[i].id %>"
              role="button"
              >View Note</a
            >
          </td>
          <td>
            <a
              class="btn btn-primary"
              href="/note/<%= data[i].id %>/edit"
              role="button"
              >Edit Note</a
            >
          </td>
          <td>
            <form action="/note/<%= data[i].id %>?_method=DELETE" method="POST">
              <input
                class="btn btn-primary"
                type="submit"
                value="Delete Note"
              />
            </form>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</body>
<%- include('footer'); -%>
